#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.header {
  font-weight: 900;
  margin: 3rem;
}

.posts-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  border: 1px solid black;
  padding: 1rem;
  width: 10rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.post-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post {
    width: 80%;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
